# Nextcloud runtime
data/
db_data/
tmp/
nextcloud-init-sync.lock

# SSL certs (if not self-managed or secrets)
certs/*.key
certs/*.crt
certs/*.pem

# MariaDB runtime data
mariadb/
ssp-conf/ldap_config.php
ssp-conf/ldap_config.php.bk

# IDE / system
.DS_Store
Thumbs.db
.vscode/
.idea/

# Backup or swap
*.bak
*.bk
*.swp
nextcloud/www/htdocs/exports/*.csv
